button#hintButton {
    background-color: rgb(67,160,71)
}

button#answerButton {
    background-color: rgb(229,57,53)
}

button#eraseCookie {
    background-color: rgb(55,71,79);
}

button#nextQuestion {
    background-color: rgb(41,182,246)
}

button#changeBlock {
    background-color: rgb(251,192,45);
    width: 100%;
    margin: 0 !important;
}

button#clearButton {
    background-color: rgb(121,85,72);
}

button#replaceButton {
    background-color: rgb(38,166,154);
}
button#setup {
    background-color: rgb(197,17,98);
}