.parent {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.controls {
    grid-area: 1 / 1 / 2 / 2;
}

.workspace {
    grid-area: 1 / 2 / 2 / 3;
}

.picker {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    border: 1px solid gray;
}

a {
    text-decoration: underline;
    cursor: pointer;
}

.teko {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }

#dl {
    background-color: #212121;
    color: #FFFFFF;
    font-size: x-large;
}